@model Database.Shared.Models.Paciente

@{
    ViewData["Title"] = "Información del paciente";
    var ocupacion = Model.Ocupacion ?? "-";
    var religion = Model.Religion ?? "-";
    var estadoCivil = Model.EstadoCivil ?? "-";
    var contactoEmergencia = Model.ContactoEmergencia ?? "-";
    var numeroContactoEmergencia = Model.NumeroContactoEmergencia ?? "-";
    var nombreContactoEmergencia = Model.NombreContactoEmergencia ?? "-";
    var nacionalidad = Model.Nacionalidad ?? "-";
    var paisResidencia = Model.PaisResidencia ?? "-";
    var departamentoResidencia = Model.DepartamentoResidencia ?? "-";
    var municipioResidencia = Model.MunicipioResidencia ?? "-";

    //Información de nacimiento
    var pesoAlNacer = Model.PesoAlNacer ?? "-";
    var talla = Model.Talla ?? "-";
    var circunferenciaCefalica = Model.CircunferenciaCefalica ?? "-";
    var tipoParto = "-";
    if (Model.TipoParto != null)
    {
        if (Model.TipoParto == "normal")
        {
            tipoParto = "Normal";
        }
        else
        {
            tipoParto = "Cesarea";
        }
    }

    //Datos de IGSS
    var igssTipoAfiliacion = Model.IgssTipoAfiliacion ?? "-";
    var igssNumeroAfiliacion = Model.IgssNumeroAfiliacion ?? "-";
    var igssCantidadDependientes = Model.IgssCantidadDependientes ?? 0;
    var igssParentescoDependientes = Model.IgssParentescoDependientes ?? "-";

    //Antecedentes
    var antMedicos = Model.AntecedentesMedicos ?? "-";
    var antQuirurgicos = Model.AntecedentesQuirurgicos ?? "-";
    var antTraumaticos = Model.AntecedentesTraumaticos ?? "-";
    var antAlergias = Model.AntecedentesAlergias ?? "-";
    var antFarmacoDependencias = Model.AntecedentesVicios ?? "-";
    var antMedicamentos = Model.AntecedentesMedicamentos ?? "-";

    //Antecedentes personales
    var antPersonalesObservaciones = Model.AntecedentesPersonalesObservaciones ?? "-";
    var antPersonalesOtros = Model.AntecedentesPersonalesOtros ?? "-";

}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="text-center">
            <h4><b>Información de paciente</b></h4><br />
            <h5>@Model.Nombre</h5>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="form-row">
            <div class="col-md-12">
                <a asp-action="Lista" asp-controller="Pacientes"
                   class="enlace-redirigir btn btn-warning text-ligth">
                    Lista de pacientes
                </a>
                <a asp-action="Modificar" asp-controller="Pacientes"
                   asp-route-id="@Model.Id" class="enlace-redirigir btn btn-primary text-ligth">
                    Editar paciente
                </a>
                <a asp-action="CambiarFase" asp-controller="Pacientes"
                   asp-route-id="@Model.Id" class="enlace-redirigir btn btn-primary text-ligth">
                    Cambiar fase de tratamiento
                </a>
                <a asp-action="PacientesExpedientePDF" asp-controller="CrearPDF"
                   asp-route-pacienteId="@Model.Id" class="enlace-redirigir btn btn-danger text-ligth">
                    Descargar expediente
                </a>
                <a asp-action="CarneVacunacionJovenes" asp-controller="CrearPDF"
                   asp-route-idPaciente="@Model.Id" class="enlace-redirigir btn btn-danger text-ligth">
                    Descargar carné de vacunación
                </a>
            </div>
        </div>
    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="btn-actions-pane-right">
            <div class="nav">
                <a data-toggle="tab" href="#tab-eg2-0"
                   class="btn-pill btn-wide mr-1 ml-1 active btn btn-outline-alternate btn-sm">Datos personales</a>
                <a data-toggle="tab" href="#tab-eg2-1"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Antecedentes</a>
                <a data-toggle="tab" href="#tab-eg2-2"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Médico</a>
                <a data-toggle="tab" href="#tab-eg2-3"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Historia médica</a>
                <a data-toggle="tab" href="#tab-eg2-4"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Pediátricos</a>
                <a data-toggle="tab" href="#tab-eg2-5"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Ginecológicos</a>
                <a data-toggle="tab" href="#tab-eg2-6"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Neurológicos</a>
                <a data-toggle="tab" href="#tab-eg2-7"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Políticas de pago</a>
                <a data-toggle="tab" href="#tab-eg2-8"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Declaración de consentimiento</a>
                <a data-toggle="tab" href="#tab-eg2-9"
                   class="btn-pill btn-wide mr-1 ml-1 btn btn-outline-alternate btn-sm">Datos de pago</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tab-eg2-0" role="tabpanel">
                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Datos personales</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-4">
                                <b>Fecha de registro</b><br />
                                @{
                                    var fechaRegistro = Model.FechaRegistro == null ? "" : Convert.ToDateTime(Model.FechaRegistro).ToString("yyyy-MM-dd");
                                }
                                @fechaRegistro
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <b>Nombre completo del paciente</b><br />
                                    @Model.Nombre
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <b>Alias del paciente</b><br />
                                    @Model.Alias
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <b>Sexo</b><br />
                                    @Model.sexoText
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <b>Fecha de nacimiento</b><br />
                                    @Model.FechaNacimiento
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <b>Edad</b><br />
                                    @Model.Edad
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <b>Tipo de sangre</b><br />
                                    @Model.TipoDeSangre
                                </div>
                            </div>
                            <div class="col-md-4">
                                <b>Teléfono</b><br />
                                @Model.Telefono
                            </div>
                            <div class="col-md-4">
                                <label><b>Celular</b></label><br />
                                @Model.Celular
                            </div>
                            <div class="col-md-4">
                                <b>Email</b><br />
                                @Model.Email
                            </div>
                            <div class="col-md-4">
                                <b>Contraseña</b><br />
                                ************
                            </div>
                            <div class="col-md-4">
                                <b>NIT</b><br />
                                @Model.Nit
                            </div>
                            <div class="col-md-4">
                                <b>DPI</b><br />
                                @Model.Dpi
                            </div>
                            <div class="col-md-4">
                                <b>Dirección</b><br />
                                @Model.Direccion
                            </div>
                            <div class="col-md-4">
                                <b>Número de afiliación</b><br />
                                @Model.no_IGGS
                            </div>
                            <div class="col-md-4">
                                <b>¿Está afiliado?</b><br />
                                @{
                                    var estaAfiliado = "Sí";
                                    if (!(bool)Model.esta_Afiliado)
                                    {
                                        estaAfiliado = "No";
                                    }
                                }
                                @estaAfiliado
                            </div>
                            <div class="col-md-4">
                                <b>Seguro EPSS</b><br />
                                @Model.SeguroEpss.Nombre
                            </div>
                            <div class="col-md-4">
                                <b>Código EPSS</b><br />
                                @Model.CodigoEPS
                            </div>
                            <div class="col-md-4">
                                <b>Religion</b><br />
                                @religion
                            </div>
                            <div class="col-md-4">
                                <b>Ocupación</b><br />
                                @ocupacion
                            </div>
                            <div class="col-md-4">
                                <b>Estado civil</b><br />
                                @estadoCivil
                            </div>
                            <div class="col-md-4">
                                <b>Contacto de emergencia</b><br />
                                @contactoEmergencia
                            </div>
                            <div class="col-md-4">
                                <b>Número de contacto de emergencia</b><br />
                                @numeroContactoEmergencia
                            </div>
                            <div class="col-md-4">
                                <b>Nombre del contacto de emergencia</b><br />
                                @nombreContactoEmergencia
                            </div>
                            <div class="col-md-4">
                                <b>Nacionalidad</b><br />
                                @nacionalidad
                            </div>
                            <div class="col-md-4">
                                <b>País de residencia</b><br />
                                @paisResidencia
                            </div>
                            <div class="col-md-4">
                                <b>Departamento de residencia</b><br />
                                @departamentoResidencia
                            </div>
                            <div class="col-md-4">
                                <b>Municipio de residencia</b><br />
                                @municipioResidencia
                            </div>

                            <div class="col-md-4">
                                <b>Tipo de paciente</b><br />
                                @{
                                    var tipoPaciente = Model.TipoPaciente == null ? "-" : Model.TipoPaciente.NombreTipo;
                                }
                                @tipoPaciente
                            </div>
                            <div class="col-md-4">
                                <b>Modalidad de atención</b><br />
                                @{
                                    var modalidadAtencion = "Presencial";
                                    if (Model.ModalidadAtencion == "virtual")
                                    {
                                        modalidadAtencion = "Virtual";
                                    }
                                }
                                @modalidadAtencion
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Fotografía del paciente</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <img src="@Model.UrlFotografiaPaciente" width="300" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Beneficiarios EPSS</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <div class="table-responsive">
                                    <table class="table">
                                        @if (Model.PersonasSeguro == null || Model.PersonasSeguro.Count == 0)
                                        {
                                            <thead>
                                                <tr>
                                                    <th>No hay beneficiarios registrados</th>
                                                </tr>
                                            </thead>
                                        }
                                        else
                                        {
                                            <thead>
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Nit</th>
                                                    <th>Nombres</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var beneficiario in Model.PersonasSeguro)
                                                {
                                                    <tr>
                                                        <td>@beneficiario.Tipo</td>
                                                        <td>@beneficiario.Nit</td>
                                                        <td>@beneficiario.Name</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Datos de IGSS</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <b>Tipo de afiliación</b><br />
                                @igssTipoAfiliacion
                            </div>
                            <div class="col-md-3">
                                <b>Número de afiliación</b><br />
                                @igssNumeroAfiliacion
                            </div>
                            <div class="col-md-3">
                                <b>Cantidad de dependientes</b><br />
                                @igssCantidadDependientes
                            </div>
                            <div class="col-md-3">
                                <b>Parentesco de dependientes</b><br />
                                @igssParentescoDependientes
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Información de nacimiento</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-3">
                                <b>PAN (Peso al nacer)</b><br />
                                @pesoAlNacer
                            </div>
                            <div class="col-md-3">
                                <b>Talla (estatura del niño)</b><br />
                                @talla
                            </div>
                            <div class="col-md-3">
                                <b>Circunferencia cefálica (CC)</b><br />
                                @circunferenciaCefalica
                            </div>
                            <div class="col-md-3">
                                <b>Tipo de parto</b><br />
                                @tipoParto
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Archivos</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    @if (Model.PacienteArchivos == null || Model.PacienteArchivos.Count == 0)
                                    {
                                        <thead>
                                            <tr>
                                                <th>No hay archivos subidos</th>
                                            </tr>
                                        </thead>
                                    }
                                    else
                                    {
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Ruta</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        foreach (var archivo in Model.PacienteArchivos)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>@archivo.NombreArchivo</td>
                                                    <td>@archivo.UrlArchivo</td>
                                                    <td>
                                                        <a download href="@archivo.UrlArchivo" target="_blank"
                                                   class="btn btn-primary text-light">Descargar</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card col-md-12">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Firma</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <img src="@Model.UrlFirmaRegistro" width="300" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-1" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Antecedentes familiares</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Antecedente</th>
                                                <th class="text-center">Madre</th>
                                                <th class="text-center">Abuela</th>
                                                <th class="text-center">Abuelo</th>
                                                <th class="text-center">Otros</th>
                                                <th class="text-center">Padre</th>
                                                <th class="text-center">Abuela</th>
                                                <th class="text-center">Abuelo</th>
                                                <th class="text-center">Hermanos</th>
                                                <th class="text-center">Otros</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var antecedenteFamiliar in Model.PatologiasPaciente)
                                            {
                                                var madre = antecedenteFamiliar.Madre ? "Sí" : "No";
                                                var abuelaMaterna = antecedenteFamiliar.AbuelaMaterna ? "Sí" : "No";
                                                var abueloMaterno = antecedenteFamiliar.AbueloMaterno ? "Sí" : "No";
                                                var otrosMaterno = antecedenteFamiliar.OtrosMaterno ? "Sí" : "No";
                                                var padre = antecedenteFamiliar.Padre ? "Sí" : "No";
                                                var abuelaPaterna = antecedenteFamiliar.AbuelaPaterna ? "Sí" : "No";
                                                var abueloPaterno = antecedenteFamiliar.AbueloPaterno ? "Sí" : "No";
                                                var hermanos = antecedenteFamiliar.Hermanos ? "Sí" : "No";
                                                var otrosPaterno = antecedenteFamiliar.OtrosPaterno ? "Sí" : "No";

                                                <tr>
                                                    <td>@antecedenteFamiliar.TipoPatologia.Tipo</td>
                                                    <td>@madre</td>
                                                    <td>@abuelaMaterna</td>
                                                    <td>@abueloMaterno</td>
                                                    <td>@otrosMaterno</td>
                                                    <td>@padre</td>
                                                    <td>@abuelaPaterna</td>
                                                    <td>@abueloPaterno</td>
                                                    <td>@hermanos</td>
                                                    <td>@otrosPaterno</td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Antecedentes personales y patológicos</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th><center>Presentó el antecedente</center></th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PacientesAntecedentesPersonales == null || Model.PacientesAntecedentesPersonales.Count == 0)
                                            {
                                                <tr>
                                                    <td colspan="3">No hay antecedentes registrados</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var antecedente in Model.PacientesAntecedentesPersonales)
                                                {
                                                    var presentoAntecedente = @antecedente.PresentoAntecedente ? "Sí" : "No";
                                                    <tr>
                                                        <td>@antecedente.AntecedentePersonal.NombreAntecedente</td>
                                                        <td>@presentoAntecedente</td>
                                                        <td>@antecedente.FechaAntecedente</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <b>Observaciones</b><br />
                                @antPersonalesObservaciones
                            </div>
                            <div class="col-md-6">
                                <b>Otros</b><br />
                                @antPersonalesOtros
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Otras preguntas</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Pregunta</th>
                                                <th>Respuesta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.PacientesPreguntasRegistro == null || Model.PacientesPreguntasRegistro.Count() == 0)
                                            {
                                                <tr>
                                                    <td colspan="2">No hay preguntas registradas</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var pregunta in Model.PacientesPreguntasRegistro)
                                                {
                                                    <tr>
                                                        <td>@pregunta.PreguntaRegistro.Pregunta</td>
                                                        <td>@pregunta.Respuesta</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <h5><b>Alergias</b></h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <tr>
                                            <td><b>Anestesia local</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAnestesiaLocal, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAnestesiaLocal, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAnestesiaLocal, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Aspirina</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAspirina, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAspirina, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAspirina, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Penicilina u otros antibióticos</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaPenicilina, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaPenicilina, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaPenicilina, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Barbitúricos o pastillas para dormir</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaBarbiturios, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaBarbiturios, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaBarbiturios, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Sulfas</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaSulfas, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaSulfas, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaSulfas, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Codeína u otros narcóticos</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaCodeina, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaCodeina, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaCodeina, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Metales</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaMetales, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaMetales, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaMetales, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Latex (goma)</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaLatex, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaLatex, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaLatex, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Yodo</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaYodo, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaYodo, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaYodo, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Polen</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaPolen, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaPolen, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaPolen, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Animales</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAnimales, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAnimales, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAnimales, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Alimentos</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAlimentos, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAlimentos, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaAlimentos, "ns") N/S</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>Otros</b></td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaOtros, "si") Sí</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaOtros, "no") No</td>
                                            <td>@Html.RadioButtonFor(m => m.AlergiaOtros, "ns") N/S</td>
                                            <td> @Html.TextBoxFor(a => a.AlergiaOtrosDescripcion, new{@class = "form-control",@placeholder = "Escriba aquí"})</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">

                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Información médica</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tabla-informacion-medica">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Usa lentes de contacto</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaUsaLentesContacto, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaUsaLentesContacto, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaUsaLentesContacto, "ns") N/S</td>
                                                <td>Descripción: @Html.TextBoxFor(a => a.MedicaUsaLentesContactoDescripcion, new{@class = "form-control", @placeholder = "Escriba aquí"})</td>
                                            </tr>
                                            <tr>
                                                <td><b>Articulaciones artificiales</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaArticulacionesArtificiales, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaArticulacionesArtificiales, "no") No</td>
                                                <td>Fecha: @Html.TextBoxFor(a => a.MedicaArticulacionesArtificialesFecha, new { type = "date", @class = "form-control" })</td>
                                                <td>¿Ha tenido complicaciones? @Html.TextBoxFor(a => a.MedicaArticulacionesArtificialesComplicaciones, new { @placeholder = "Escriba aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>¿Ha tomado o toma actualmente alendronato, risedronato?</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaTomaAlendronato, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaTomaAlendronato, "no") No</td>
                                                <td></td>
                                                <td>Fecha: @Html.TextBoxFor(a => a.MedicaTomaAlendronatoFecha, new { type = "date", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Tratamiento por dolor de huesos, hipercalcemia o alteraciones esqueléticas</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaTratamientoDolorHuesos, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaTratamientoDolorHuesos, "no") No</td>
                                                <td>Fecha de inicio del tratamiento: @Html.TextBoxFor(a => a.MedicaTratamientoDolorHuesosFechaInicio, new { type = "date", @class = "form-control" })</td>
                                                <td>Describa su caso: @Html.TextBoxFor(a => a.MedicaTratamientoDolorHuesosDescripcionCaso, new { @placeholder = "Escriba aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Sustancias reguladoras de drogas</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaSustanciasReguladorasDrogas, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaSustanciasReguladorasDrogas, "no") No</td>
                                                <td></td>
                                                <td>Fecha: @Html.TextBoxFor(a => a.MedicaSustanciasReguladorasDrogasFecha, new { type = "date", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>¿Usa tabaco?</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaUsaTabaco, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaUsaTabaco, "no") No</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Bebidas alcohólicas</b></td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaBebidasAlcoholicas, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.MedicaBebidasAlcoholicas, "no") No</td>
                                                <td></td>
                                                <td>Descríbalo: @Html.TextBoxFor(a => a.MedicaBebidasAlcoholicasDescripcion, new { @placeholder = "Descríbalo", @class = "form-control" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Información dental</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tabla-informacion-dental">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Sangrado al cepillar</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalSangradoCepillar, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalSangradoCepillar, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalSangradoCepillar, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Dolor con frío, calor o dulces</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorFrio, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorFrio, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorFrio, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Dolor al presionar</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorPresionar, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorPresionar, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorPresionar, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Objetos atorados, alimentos o seda dental entre los dientes</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalObjetosAtorados, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalObjetosAtorados, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalObjetosAtorados, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Boca seca</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBocaSeca, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBocaSeca, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBocaSeca, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Tratamiento periondal encía</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalTratamientoPeriondal, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalTratamientoPeriondal, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalTratamientoPeriondal, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Tratamiento de ortodoncia con aparatos</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalTratamientoOrtodoncia, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalTratamientoOrtodoncia, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalTratamientoOrtodoncia, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Problemas asociados a tratamiento dental</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalProblemasTratamientoDental, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalProblemasTratamientoDental, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalProblemasTratamientoDental, "ns") N/S</td>
                                                <td>Descríbalo: @Html.TextBoxFor(a => a.DentalProblemasTratamientoDentalDescripcion, new { @placeholder = "Descríbalo", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>¿El agua del domicilio es fluorada?</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalFluoradaAguaDomicilio, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalFluoradaAguaDomicilio, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalFluoradaAguaDomicilio, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>¿Bebe agua embotellada o filtrada?</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBebeAguaFiltrada, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBebeAguaFiltrada, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBebeAguaFiltrada, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Dolor de oídos o cuello</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorOidos, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorOidos, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDolorOidos, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Molestia ruido alto en mandíbula</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalMolestiaRuidoAlto, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalMolestiaRuidoAlto, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalMolestiaRuidoAlto, "ns") N/S</td>
                                                <td>Especifique: @Html.TextBoxFor(a => a.DentalMolestiaRuidoAltoDescripcion, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Brumismo o hace rechinar dientes</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBrumismo, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBrumismo, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalBrumismo, "ns") N/S</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Lesiones o ulceras en boca</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalLesiones, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalLesiones, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalLesiones, "ns") N/S</td>
                                                <td>Especifique: @Html.TextBoxFor(a => a.DentalLesionesDescripcion, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>¿Usa dentaduras (placas) completas o parciales?</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDentaduraPlacas, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDentaduraPlacas, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalDentaduraPlacas, "ns") N/S</td>
                                                <td>Especifique: @Html.TextBoxFor(a => a.DentalDentaduraPlacasDescripcion, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Actividades energicas de recreacion</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalActividadesRecreacion, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalActividadesRecreacion, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalActividadesRecreacion, "ns") N/S</td>
                                                <td>Especifique: @Html.TextBoxFor(a => a.DentalActividadesRecreacionDescripcion, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Lesiones en cabeza o boca</b></td>
                                                <td>@Html.RadioButtonFor(m => m.DentalLesionesCabeza, "si") Sí</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalLesionesCabeza, "no") No</td>
                                                <td>@Html.RadioButtonFor(m => m.DentalLesionesCabeza, "ns") N/S</td>
                                                <td>Observaciones: @Html.TextBoxFor(a => a.DentalLesionesCabezaDescripcion, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Análisis facial</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tabla-analisis-facial">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Patrón facial</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPatron, "mesofacial") Mesofacial</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPatron, "dolico-facial") Dólico facial</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPatron, "broquiofacial") Broquiofacial</td>
                                                <td>@Html.TextBoxFor(a => a.FacialPatronObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Perfil</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfil, "recto") Recto</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfil, "concavo") Cóncavo</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfil, "convexo") Convexo</td>
                                                <td>@Html.TextBoxFor(a => a.FacialPerfilObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Asimetría</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAsimetria, "mandibula-derecha") Mand. derecha</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAsimetria, "mandibula-izquierda") Mand. izquierda</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAsimetria, "otras") Otras</td>
                                                <td>@Html.TextBoxFor(a => a.FacialAsimetriaObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Altura facial equilibrada</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAlturaFacialEquilibrada, "equilibrada") Equilibrada</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAlturaFacialEquilibrada, "larga") Larga</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAlturaFacialEquilibrada, "corta") Corta</td>
                                                <td>@Html.TextBoxFor(a => a.FacialAlturaFacialEquilibradaObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Ancho facial equilibrada</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAnchoFacialEquilibrada, "equilibrada") Equilibrada</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAnchoFacialEquilibrada, "estrecho") Estrecho</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialAnchoFacialEquilibrada, "amplio") Amplio</td>
                                                <td>@Html.TextBoxFor(a => a.FacialAnchoFacialEquilibradaObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Perfil maxilar</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfilMaxilar, "ortognatico") Ortognático</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfilMaxilar, "prognatico") Prognático</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfilMaxilar, "retrognatico") Retrognático</td>
                                                <td>@Html.TextBoxFor(a => a.FacialPerfilMaxilarObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Perfil mandibular</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfilMandibular, "ortognatico") Ortognático</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfilMandibular, "prognatico") Prognático</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialPerfilMandibular, "retrognatico") Retrognático</td>
                                                <td>@Html.TextBoxFor(a => a.FacialPerfilMandibularObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Surco labial mentón</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialSurcoLabialMenton, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialSurcoLabialMenton, "marcado") Marcado</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialSurcoLabialMenton, "borrado") Borrado</td>
                                                <td>@Html.TextBoxFor(a => a.FacialSurcoLabialMentonObservaciones, new { @placeholder = "Descríbalo aquí", @class = "form-control" })</td>
                                            </tr>
                                            <tr>
                                                <td><b>Labios en reposo</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FacialLabiosReposo, "competentes") Competentes</td>
                                                <td>@Html.RadioButtonFor(m => m.FacialLabiosReposo, "incompetentes") Incompetentes</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Análisis funcional</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tabla-analisis-funcional">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>Actividad comisurial</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalActividadComisurial, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalActividadComisurial, "contraccion") Contracción</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><b>Actividad lingual</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalActividadLingual, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalActividadLingual, "interp-anterior") Interp. anterior</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalActividadLingual, "interp-lateral") Interp. lateral</td>
                                            </tr>
                                            <tr>
                                                <td><b>Labio superior</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalLabioSuperior, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalLabioSuperior, "interp-anterior") Interp. anterior</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalLabioSuperior, "interp-lateral") Interp. lateral</td>
                                            </tr>
                                            <tr>
                                                <td><b>Labio inferior</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalLabioInferior, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalLabioInferior, "interp-anterior") Interp. anterior</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalLabioInferior, "interp-lateral") Interp. lateral</td>
                                            </tr>
                                            <tr>
                                                <td><b>Masetero</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalMasetero, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalMasetero, "interp-anterior") Interp. anterior</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalMasetero, "interp-lateral") Interp. lateral</td>
                                            </tr>
                                            <tr>
                                                <td><b>Mentoniano</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalMentoniano, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalMentoniano, "interp-anterior") Interp. anterior</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalMentoniano, "interp-lateral") Interp. lateral</td>
                                            </tr>
                                            <tr>
                                                <td><b>Respiración</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalRespiracion, "bucal") Bucal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalRespiracion, "nasal") Nasal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalRespiracion, "mixta") Mixta</td>
                                            </tr>
                                            <tr>
                                                <td><b>Deglución</b></td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalDeglucion, "normal") Normal</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalDeglucion, "atipica") Atípica</td>
                                                <td>@Html.RadioButtonFor(m => m.FuncionalDeglucion, "especial") Especial</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Patrón facial</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-12">
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.PatronFacial, "patron-1") <b>
                                        Patrón
                                        I
                                    </b>
                                </label>
                                <br><br>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.PatronFacial, "patron-2") <b>
                                        Patrón
                                        II
                                    </b>
                                </label>
                                <br>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "retrusion-mandibular")
                                    Retrusión
                                    mandibular
                                </label>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "protrusion-maxilar")
                                    Protrusión
                                    maxilar
                                </label>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "aumento-afai") Con aumento
                                    de
                                    AFAI
                                </label>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "afai-disminuida") Con AFAI
                                    disminuida
                                </label>
                                <br><br>
                                <label class="h6">@Html.RadioButtonFor(m => m.PatronFacial, "patron-3") <b>Patrón III</b></label>
                                <br>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "protrusion-mandibular")
                                    Protrusión
                                    mandibular
                                </label>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "retrusion-maxilar")
                                    Retrusión
                                    maxilar
                                </label>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "aumento-afai") Con aumento
                                    de
                                    AFAI
                                </label>
                                <label class="h6">
                                    @Html.RadioButtonFor(m => m.CaracteristicaPatronFacial, "afai-disminuida") Con AFAI
                                    disminuida
                                </label>
                                <br><br>
                                <label class="h6">@Html.RadioButtonFor(m => m.PatronFacial, "cara-corta") <b>Cara corta</b></label>
                                <br><br>
                                <label class="h6">@Html.RadioButtonFor(m => m.PatronFacial, "cara-larga") <b>Cara larga</b></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-2" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Antecedentes</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-6">
                                <b>Médicos</b><br />
                                @antMedicos
                            </div>
                            <div class="col-md-6">
                                <b>Quirúrgicos</b><br />
                                @antQuirurgicos
                            </div>
                            <div class="col-md-6">
                                <b>Traumáticos</b><br />
                                @antTraumaticos
                            </div>
                            <div class="col-md-6">
                                <b>Alergias</b><br />
                                @antAlergias
                            </div>
                            <div class="col-md-6">
                                <b>Farmacodependencias</b><br />
                                @antFarmacoDependencias
                            </div>
                            <div class="col-md-6">
                                <b>Medicamentos</b><br />
                                @antMedicamentos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-3" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Historia médica</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label>Nombre de médico personal</label>
                                    @Html.TextBoxFor(m => m.HistoriaMedicoPersonal, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label>Teléfono de médico personal</label>
                                    @Html.TextBoxFor(m => m.HistoriaTelefonoMedico, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="position-relative form-group">
                                    <label>Especialidad de médico personal</label>
                                    @Html.TextBoxFor(m => m.HistoriaEspecialidadMedico, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>¿Se encuentra bajo algún tratamiento médico?</label>
                                <select asp-for="HistoriaTratamientoMedico" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>¿Sangra mucho cuando se corta?</label>
                                <select asp-for="HistoriaSangraMuchoCortarse" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="HistoriaHospitalizado">¿Ha sido hospitalizado(a) alguna vez?</label>
                                <select asp-for="HistoriaHospitalizado" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="HistoriaOperado">¿Ha sido operado(a) alguna vez (incluyendo cirugías estéticas)?</label>
                                <select asp-for="HistoriaOperado" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>¿Ha experimentado alergia a la penicilina o alguna otra medicina?</label>
                                <select asp-for="HistoriaAlergiaMedicina" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="HistoriaAlergiaComida">¿Ha experimentado alergia a comida, polen, animales, polvo, otros?</label>
                                <select asp-for="HistoriaAlergiaComida" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                                @Html.TextBoxFor(m => m.HistoriaAlergiaOtros,
                                new { @class = "form-control",@placeholder="¿Cuáles?" })
                            </div>
                            <div class="col-md-4">
                                <label for="HistoriaProblemaEmocional">¿Tiene algún problema emocional?</label>
                                <select asp-for="HistoriaProblemaEmocional" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Sí</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label>Observaciones</label>
                                    @Html.TextAreaFor(m => m.HistoriaObservaciones, new { @class = "form-control",@placeholder="Observaciones" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-4" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-4">
                                Nombre del padre<br>
                                @Html.TextBoxFor(a => a.NombrePadre, new { @class = "form-control", @placeholder = "Nombre padre" })
                                @Html.ValidationMessageFor(a => a.NombrePadre, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                Nombre de la madre
                                @Html.TextBoxFor(a => a.NombreMadre, new { @class = "form-control", @placeholder = "Nombre madre" })
                                @Html.ValidationMessageFor(a => a.NombreMadre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Información de la madre del paciente</b></h5>
                                <hr />
                            </div>
                            <div class="col-md-4">
                                <b>Fecha de nacimiento</b><br>
                                @Model.MadreFechaNacimiento
                            </div>
                            <div class="col-md-4">
                                <b>¿Cuántos embarazos ha tenido?</b><br>
                                @Model.MadreEmbarazos
                            </div>
                            <div class="col-md-4">
                                <b>¿Cuántos partos normales ha tenido?</b><br>
                                @Model.MadrePartosNormales
                            </div>
                            <div class="col-md-4">
                                ¿Cuántas cesareas ha tenido?<br>
                                @Html.TextBoxFor(a => a.MadreCesareas, new { type = "number", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MadreCesareas, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                ¿Cuántos abortos ha tenido?<br>
                                @Html.TextBoxFor(a => a.MadreAbortos, new { type = "number", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MadreAbortos, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                Hijos vivos (HV)<br>
                                @Html.TextBoxFor(a => a.MadreHijosVivos, new { type = "number", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MadreHijosVivos, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                Hijos muertos (HM)<br>
                                @Html.TextBoxFor(a => a.MadreHijosMuertos, new { type = "number", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MadreHijosMuertos, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                Complicaciones (opcional)
                                @Html.TextBoxFor(a => a.MadreComplicaciones, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MadreComplicaciones, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12">
                                <h5><b>Vacunas</b></h5>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Vacuna</th>
                                                <th>Primera</th>
                                                <th>Segunda</th>
                                                <th>Tercera</th>
                                                <th>Primer refuerzo</th>
                                                <th>Segundo refuerzo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.VacunasPaciente == null || Model.VacunasPaciente.Count() == 0)
                                            {
                                                <tr>
                                                    <td colspan="6">No hay vacunas registradas</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var vacuna in Model.VacunasPaciente)
                                                {
                                                    <tr>
                                                        <td>@vacuna.Vacuna.Nombre</td>
                                                        <td>@vacuna.Primera<br />@vacuna.FechaPrimera</td>
                                                        <td>@vacuna.Segunda<br />@vacuna.FechaSegunda</td>
                                                        <td>@vacuna.Tercera<br />@vacuna.FechaTercera</td>
                                                        <td>@vacuna.PrimerRefuerzo<br />@vacuna.FechaPrimerRefuerzo</td>
                                                        <td>@vacuna.SegundoRefuerzo<br />@vacuna.FechaSegundoRefuerzo</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-5" role="tabpanel">
                <div class="form-row">
                    <label class="font-weight-bold">GINECOLÓGICOS</label> &nbsp; &nbsp;
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-6" role="tabpanel">
                <div class="form-row">
                    <label class="font-weight-bold">NEUROLÓGICOS</label> &nbsp; &nbsp;
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-7" role="tabpanel">
                <div class="form-row">
                    <div class="col-md-12">
                        <h5><b>Políticas de pago y cancelación del servicio</b></h5>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        Lea con atención las políticas de pago y cancelación del servicio<br>
                        <p>
                            <i>
                                La fecha de inicio del tratamiento del paciente se tomará
                                como referencia de fechas de pago (fecha de registro).
                                Al no hacerse efectivo el abono mensual en la fecha correspondiente,
                                el paciente contará con un máximo de 5 días para recalendarizar
                                su cita y realizar el pago, evitando así el bloqueo para acceder
                                al sistema del perfil en internet, grabaciones y sesiones en vivo
                                del tratamiento.<br><br>
                                Si fuera necesario recalendarizar la cita previamente programada,
                                esta deberá hacerse con 24 horas de anticipación. De lo
                                contrario, se hará un recargo de Q200 a su abono mensual.
                            </i><br><br>
                            @{
                                var politicasPagoAceptaTerminos = true;
                                if (Model.PoliticasPagoAceptaTerminos == null || !(bool)Model.PoliticasPagoAceptaTerminos)
                                {
                                    politicasPagoAceptaTerminos = false;
                                }
                            }
                            @Html.CheckBoxFor(p=>politicasPagoAceptaTerminos, new{@disabled="true"})
                            <label for="PoliticasPagoAceptaTerminos">Acepto conocer y cumplir los términos del presente documento</label>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <h5><b>Firma</b></h5>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <img src="@Model.UrlFirmaPoliticas" width="300" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-8" role="tabpanel">
                <div class="form-row">
                    <div class="col-md-12">
                        <h5><b>Declaración de consentimiento</b></h5>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        Por medio de la presente, en uso de mis facultades, declaro participar por voluntad propia
                        del tratamiento integral de adelgazamiento PlusVida, conociendo en detalle las indicaciones del mismo,
                        asumiendo la responsabilidad de su cumplimiento y desligando de toda responsabilidad
                        a PlusVida y a su equipo profesional de cualquier incidencia que pudiera ocurrir.<br /><br />
                        Declaro que toda la información aquí completada es verídica.<br />
                    </div>
                    <div class="col-md-12">
                        <h5><b>Firma</b></h5>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <img src="@Model.UrlFirmaConsentimiento" width="300" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-eg2-9" role="tabpanel">
                <div class="form-row">
                    <div class="col-md-12">
                        <h5><b>Tarjeta de crédito</b></h5>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <b>Número de tarjeta</b><br />
                        @Html.TextBoxFor(p=>p.NumeroTarjetaCredito, new { @class="form-control", @readonly="true", @type="password" })
                    </div>
                    <div class="col-md-12">
                        <h5><b>Firma</b></h5>
                        <hr>
                    </div>
                    <div class="col-md-12">
                        <img src="@Model.UrlFirmaTarjetaCredito" width="300" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>