@using Database.Shared.Paginacion;
@model sistema.Models.CalendarioLinealViewModel

@{
    ViewData["Title"] = "Lista Citas";
}

@await Html.PartialAsync("_MensajeExito")

<div class="main-card mb-3 card">
    <div class="card-body form-row">
        <div class="text-center col-md-12">
            <h4><b>Calendario de citas</b></h4>
            <hr />
        </div>
        <div class="col-md-1">
            Seleccionar fecha:
        </div>
        <div class="col-md-11">
            <input type="date" class="form-control" id="fechacita" value="@ViewData["CurrentFilter"]">
        </div>
    </div>
</div>

@*
    <div class="form-row">
    <div class="col-md-12">
    <a asp-action="AgendarCita" asp-controller="Cita" class="btn btn-danger">
    <i class="fas fa-calendar-check"></i> &nbsp; Nueva Cita
    </a>
    <a asp-action="Index" asp-controller="Cita" class="btn btn-danger">
    <i class="fas fa-calendar-check"></i> &nbsp; No asistidas
    </a>
    <a asp-action="CitasFinalizadas" asp-controller="Cita" class="btn btn-success">
    <i class="fas fa-list"></i>  &nbsp; Citas Finalizadas
    </a>
    <a asp-action="CitasListadoNormales" asp-controller="Cita" class="btn btn-danger" asp-route-currentFilter="@ViewData["CurrentFilter"]">
    <i class="fas fa-list"></i>  &nbsp; Reporte
    </a>
    </div>
    </div>
    <br> *@


<div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="mb-0 table table-hover ">
                    <thead>
                        <tr>

                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Especialidad</th>
                            <th>Doctor</th>
                            <th>Servicio</th>
                            <th>Paciente</th>
                            <th>Telefono</th>
                            <th>Asitencia</th>
                            <th>Observaciones</th>
                            <th>Usuario que agenda</th>
                            <th>Menor de edad</th>
                            <th>Nombre encargado</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Horas)
                        {
                            var flag = false;

                            foreach (var cita in Model.Citas)
                            {

                                var fechaYHora = $"{Model.Fecha} {item}";

                                if (cita.FechaInicio.ToString("yyyy-MM-dd HH:mm") == fechaYHora)
                                {

                                    var cliente = cita.Paciente == null ? "" : cita.Paciente.Nombre;
                                    var telefono = cita.Paciente == null ? "" : cita.Paciente.Telefono;
                                    var celular = cita.Paciente == null ? "" : cita.Paciente.Celular;
                                    var sexo = cita.Paciente == null ? "" : cita.Paciente.sexoText;
                                    var codigoEPS = cita.Paciente == null ? "" : cita.Paciente.PacienteConCodigoEPS;

                                    @* var persona = item.User == null ? "" : item.PersonText; *@
                                    @* var empleado = item.Empleado == null ? "" : item.Empleado.NombreYApellidos; *@

                                    var background = "";
                                    var color = "";

                                    @if (cita.EspecialidadText == "Medicina general")
                                    {
                                        background = "#2fb9e7";
                                        color = "black";
                                    }
                                    else if (cita.EspecialidadText == "Medicina estética")
                                    {
                                        background = "#A02B4E";
                                        color = "white";
                                    }
                                    else if (cita.EspecialidadText == "Ginecología y Obstetricia")
                                    {
                                        background = "#e660c3";
                                        color = "white";
                                    }
                                    else if (cita.EspecialidadText == "Pediatría")
                                    {
                                        background = "#ffa500";
                                        color = "black";
                                    }
                                    else if (cita.EspecialidadText == "Cirugía")
                                    {
                                        background = "#808080";
                                        color = "white";
                                    }

                                    else if (cita.EspecialidadText == "Traumatología")
                                    {
                                        background = "#000000";
                                        color = "white";
                                    }

                                    else if (cita.EspecialidadText == "Medicina interna")
                                    {
                                        background = "#8B4513";
                                        color = "white";
                                    }


                                    else if (cita.EspecialidadText == "Laboratorio clínico")
                                    {
                                        background = "#008000";
                                        color = "white";
                                    }

                                    string backgroundAsistencia = "";
                                    string colorAsistencia = "";


                                    if (cita.EstadoCita == "No asistida")
                                    {
                                        backgroundAsistencia = "red";
                                        colorAsistencia = "white";
                                    }
                                    else if (cita.EstadoCita == "asistida")
                                    {
                                        backgroundAsistencia = "green";
                                        colorAsistencia = "white";
                                    }
                                    else
                                    {
                                        backgroundAsistencia = "none";
                                        colorAsistencia = "black";
                                    }

                                    bool bloqueado = cita.Bloqueada == null ? false : (bool)cita.Bloqueada;

                                    if (bloqueado)
                                    {
                                        <tr>
                                            <td> @Model.Fecha </td>
                                            <td> @item</td>
                                            <td colspan="10">
                                                <center><b>---------- Bloqueada ----------</b></center>
                                            </td>
                                            <td>
                                                <div class="col-md-12 p-1">
                                                    <a class="btn btn-warning col-md-12" asp-controller="Cita"
                                       asp-action="DesbloquearFecha" asp-route-citaId="@cita.Id">
                                                        <i class="fas fa-calendar-plus"></i> Desbloquear fecha
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {

                                        <tr>
                                            <td> @Model.Fecha </td>
                                            <td> @item</td>
                                            <td style="background: @background; color: @color"> @cita.EspecialidadText</td>
                                            <td> @cita.EmpleadoText </td>
                                            <td> @cita.ServicioText </td>
                                            <td>@cliente <br> <span style="color: blue">@codigoEPS</span> </td>
                                            <td>@telefono</td>
                                            <td style="background: @backgroundAsistencia; color: @colorAsistencia">
                                                @cita.EstadoCita
                                            </td>
                                            <td>@cita.Motivo</td>
                                            <td>@cita.PersonText</td>
                                            <td>@cita.EsMenorDeEdadText</td>
                                            <td>@cita.NombreEncargado</td>

                                            @* <td style="max-width:150px; word-wrap: break-word;" >@item.Motivo</td> *@
                                            <td>

                                                @if (@cita.Finalizada == false)
                                                {
                                                    <div class="col-md-12 p-1">
                                                        <a class="btn btn-danger text-white col-md-12" onclick="Eliminar(@cita.Id, '@fechaYHora')">
                                                            Eliminar
                                                        </a>
                                                    </div>
                                                }

                                                @if (@cita.Finalizada != true && @cita.EstadoCita != "asistida")
                                                {

                                                    <div class="col-md-12 p-1">
                                                        <a class="btn btn-success text-white col-md-12" onclick="Finalizar(@cita.Id, '@fechaYHora')">
                                                            Finalizar
                                                        </a>
                                                    </div>

                                                    <div class="col-md-12 p-1">
                                                        <a class="btn btn-secondary text-white col-md-12" asp-controller="Cita" asp-action="NoAsistio" asp-route-citaId="@cita.Id" asp-route-fecha="@fechaYHora">
                                                            No asistió
                                                        </a>
                                                    </div>

                                                    <div class="col-md-12 p-1">
                                                        <a href="@Url.Action("EditarCita","Cita", new {id = @cita.Id, })"
                                       class="btn btn-warning btn-sm col-md-12">
                                                            Modificar
                                                        </a>
                                                    </div>

                                                    <div class="col-md-12 p-1">
                                                        <a href="@Url.Action("CancelarCita","Cita", new {id = @cita.Id, })"
                                       class="btn btn-warning btn-sm col-md-12">
                                                            Cancelar
                                                        </a>
                                                    </div>

                                                    <div class="col-md-12 p-1">
                                                        <a class="btn btn-warning col-md-12" asp-controller="Cita" asp-action="AgendarCita" asp-route-fecha="@fechaYHora">
                                                            <i class="fas fa-calendar-plus"></i> Clonar Fecha
                                                        </a>
                                                    </div>
                                                }

                                                @if (@cita.EstadoCita == "No asistida")
                                                {
                                                    <div class="col-md-12 p-1">
                                                        <a class="btn btn-secondary text-white col-md-12" asp-controller="Cita" asp-action="ReprogramarCita" asp-route-citaId="@cita.Id" asp-route-fecha="@fechaYHora">
                                                            Reprogramar
                                                        </a>
                                                    </div>
                                                }

                                            </td>
                                        </tr>

                                    }

                                    flag = true;
                                }


                            }

                            if (!flag)
                            {
                                var fechaYHora = $"{Model.Fecha} {item}";

                                <tr>
                                    <td>@Model.Fecha</td>
                                    <td>@item</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="col-md-12 p-1">
                                            <a class="btn btn-warning col-md-12" asp-controller="Cita" asp-action="AgendarCita" asp-route-fecha="@fechaYHora">
                                                <i class="fas fa-calendar-plus"></i> Agendar
                                            </a>
                                        </div>
                                        <div class="col-md-12 p-1">
                                            <a class="btn btn-warning col-md-12" asp-controller="Cita" asp-action="BloquearFecha" asp-route-fecha="@fechaYHora">
                                                <i class="fas fa-calendar-plus"></i> Bloquear fecha
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@*
    @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }



    <a asp-action="Lista" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @prevDisabled">
    Anterior
    </a>
    <a asp-action="Lista" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-danger btn-sm @nextDisabled" class="">
    Siguiente
    </a> *@


@section Scripts
{
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script type="text/javascript" src="~/js/daterangepicker.js"></script>
<script type="text/javascript" src="~/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="~/ViewModelKo/CitaCalendarioLinealVM.js"></script>
}

@section css {
<link href="~/css/daterangepicker.css" rel="stylesheet">
}